*.class
*.log
*.pyc

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.sc
.idea/
*.iml

# Service test files
.yar

# blacklist service.conf
# TODO: make this more generic later
src/main/scala/org/novetta/zoo/services/virustotal/service.conf
