peid:
  restart: unless-stopped
  build: ../src/main/scala/org/novetta/zoo/services/peid
  volumes:
   - /tmp:/tmp:ro
  ports:
    - "7720:8080"

peinfo:
  restart: unless-stopped
  build: ../src/main/scala/org/novetta/zoo/services/peinfo
  volumes:
   - /tmp:/tmp:ro
  ports:
    - "7705:8080"

virustotal:
  restart: unless-stopped
  build: ../src/main/scala/org/novetta/zoo/services/virustotal
  volumes:
   - /tmp:/tmp:ro
  ports:
    - "7710:8080"

yara:
  restart: unless-stopped
  build: ../src/main/scala/org/novetta/zoo/services/yara
  volumes:
   - /tmp:/tmp:ro
  ports:
    - "7701:8080"

zipmeta:
  restart: unless-stopped
  build: ../src/main/scala/org/novetta/zoo/services/zipmeta
  volumes:
   - /tmp:/tmp:ro
  ports:
    - "7715:8080"
