fileservice:
  volumes:
   - /tmp:/tmp:ro

peinfo:
  extends:
    service: fileservice
  build: ./src/main/scala/org/novetta/zoo/services/peinfo
  ports:
    - "7705"

yara:
  extends:
    service: fileservice
  build: ./src/main/scala/org/novetta/zoo/services/yara
  ports:
    - "7701"
