gogadget:
  build: ../src/main/scala/org/holmesprocessing/totem/services/gogadget
  ports:
    - "7740:8080"
  restart: unless-stopped
  volumes:
    - /tmp:/tmp:ro

objdump:
  build: ../src/main/scala/org/holmesprocessing/totem/services/objdump
  ports:
    - "7730:8080"
  restart: unless-stopped
  volumes:
    - /tmp:/tmp:ro

peid:
  build: ../src/main/scala/org/holmesprocessing/totem/services/peid
  ports:
    - "7720:8080"
  restart: unless-stopped
  volumes:
    - /tmp:/tmp:ro

peinfo:
  build: ../src/main/scala/org/holmesprocessing/totem/services/peinfo
  ports:
    - "7705:8080"
  restart: unless-stopped
  volumes:
    - /tmp:/tmp:ro

virustotal:
  build: ../src/main/scala/org/holmesprocessing/totem/services/virustotal
  ports:
    - "7710:8080"
  restart: unless-stopped
  volumes:
   - /tmp:/tmp:ro

yara:
  build: ../src/main/scala/org/holmesprocessing/totem/services/yara
  ports:
    - "7701:8080"
  restart: unless-stopped
  volumes:
   - /tmp:/tmp:ro

zipmeta:
  build: ../src/main/scala/org/holmesprocessing/totem/services/zipmeta
  ports:
    - "7715:8080"
  restart: unless-stopped
  volumes:
   - /tmp:/tmp:ro
