[metadata]
Name        = PEiD
Version     = 1.0
Description = ./README.md
Copyright   = Copyright 2015 Holmes Processing
License     = ./LICENSE

[settings]
Port        = 8080
InfoURL     = /
AnalysisURL = /peid
YaraRules   = ./rules.yar

[Rules]
get_remote = False
download_url = <https://127.0.0.1/services/peid/rules>
local_path = rules.yar
