[metadata]
Name        = PEInfo
Version     = 1.0
Description = ./README.md
Copyright   = Copyright 2016 Holmes Group LLC
License     = ./LICENSE

[settings]
Port        = 8080
InfoURL     = /
AnalysisURL = /peinfo
