[Unit]
Description=Totem - Holmes Processing
Author=Holmes Processing
After=docker.service

[Service]
Type=forking
WorkingDirectory=INSTALL_DIRECTORY/config
ExecStart=/usr/local/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
