[Unit]
Description=Totem-Services
After=docker.service
Requires=docker.service

[Service]
Type=forking
User=totem
Group=totem
WorkingDirectory=INSTALL_DIRECTORY/config
ExecStart=/sbin/start-stop-daemon \
    --start \
    --chdir "INSTALL_DIRECTORY/config"
    --user totem
    --group totem
    --exec /usr/local/bin/docker-compose \
    -- up -d


[Install]
WantedBy=multi-user.target
