# Totem - Holmes Processing Analysis Engine
#
# The Totem service performs enrichment against submitted analysis files

description "Totem - Holmes Processing"
author "Holmes Processing"

start on runlevel [2345]
stop on runlevel [!2345]

# make sure any output is logged
console log

# change working directory
chdir "INSTALL_DIRECTORY/config"

# run
exec docker-compose up -d
